body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    color: blueviolet;
}

#mundo {
    background-color: cyan;
}
.section02 {
    background-color: yellow;
}
.card{

}

.card__title {
    color: green;
}

.card__button {
    border: none;
    border-radius: 2px;
    color: white;
    width: 80px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.card__button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card__button--primary {
    background-color: blue;
}

.card__button--danger {
    background-color: red;
}
p {
    color: blue;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: justify;
    font-style: oblique;
}